{% load server_tags %}
{% load humanize %}


{% if award_anticipated %}
    <div class="post-action" style="width: 70%">
    If no signed answers with higher vote count emerge, then <span style="color: orange;">{{bounty_sats|intcomma}} sat <img width=20 src="/static/bitcoin.png"></a>ounty</span> will be awarded to the author of this answer <b>in {{preliminary_award_time|naturaltime}}</b>
    </div>

{% elif award_granted %}
    <div class="post-action" style="width: 70%">
    Congratulations {% coolname post.author %} you earned <span style="color: orange;">{{bounty_sats|intcomma}} sat <img width=20 src="/static/bitcoin.png"></a>ounty</span> for this post!</div>

    <div class="post-action" style="width: 70%">
    Please <a href="{{ take_custody_url }}">take sats here</a>.
    </div>


    {% if award_expanded %}
        <div class="post-action" style="width: 70%">Since {{award_expansion_time|naturaltime}} the award is also available for the next best answer because {{claim_delta_days}} days has passed without sats being taken.</div>
    {% else %}
        <div class="post-action" style="width: 70%">If sats are not taken in 7 days ({{award_expansion_time|naturaltime}}) this award will become available to the next best answer.</div>
    {% endif %}

{% endif %}
